* {
  font-family: monospace;
}
button {
  padding: 1rem;
  margin: 0.3rem;
 
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
  font-size: 2rem;
}
.counter {
  display: flex;
  justify-content: center;
  width: 50vw;
  

}
.counterHeader{
    font-size: 3rem;
    
}
button:hover {
  color: royalblue;
  transition: 1.5s;
}
.subtraction:hover {
  color: red;
  background-color: black;
}
